body {
  margin: 0;
  padding: 0;
  height: 100%;
  /*background-image: url("clouds.jpg");*/
  /*background-size: cover;*/       
  /*background-position: center;*/ 
  /*background-repeat: no-repeat;*/ 
  /*background-attachment: fixed;*/ 
  font-family: 'Quicksand', sans-serif;
  color: #242424;
  text-align: center;
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  pointer-events: none; /* ensures user interactions pass through */
  background-color: rgb(85, 150, 115); /*fallback*/
}




.container {
  padding: 30px;
}

h1 {
  font-family: 'Chewy' , cursive;
  font-weight: 900;
  font-size: 70px;
  margin-top: 10px;
  color: #8cf798;
  line-height: 1.2;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* optional: soft glow */
}

.emoji-img {
  width: 140px;
  height: 140px;
  vertical-align: middle;
 
}


.letter {
  background: #8ddab15b;
  padding: 20px;
  border-radius: 15px;
  max-width: 700px;
  margin: 30px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  line-height: 1.7;
  font-size: 1.1em;
}

.heart-button {
  margin-top: 40px;
  font-size: 1em;
  background: none;
  border: none;
  cursor: pointer;
  /*animation: pulse 3s infinite;*/
}

.heart-button img {
  width: 50px;
  height: 50px;
}


@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.surprise {
  display: none;
  margin-top: 10px;
  font-size: 1.3em;
  color: #060708;
}
